@import "nullstyle.scss";

body {
    background-color: rgb(255, 221, 134);
}
.wrapper {
    max-width: 480px;
    margin: 0 auto;
    font-family: 'Lato', sans-serif;
}
header {
    max-width: 480px;
}
$color-title:rgb(118, 71, 2);
.header {
    &__image {
        background: url(../images/header/open-africa.png) 0 0/13%, url(../images/header/header-zanzibar-mobile.jpeg);
        background-position: 95% 5%, center;
        background-repeat: no-repeat, no-repeat;
        height: 335px;
        border-radius: 1%;
        box-shadow: 0px 0px 4px black;
    }
    &__text {
        color: white;
        font-size: 30px;
        font-weight: bold;
        position: relative;
        letter-spacing: 1px;
        line-height: 30px;
        top: 30%;
        text-align: center;
        text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.615);
    }
}
.nav-bar {
    position: relative;
    top: 72.5%;
    text-align: center;
    & a {
        font-size: 12px;
        margin-left: 16px;
        padding: 7px 12px;
        color: rgb(255, 255, 255);
        border-radius: 3px;
        background-color: rgba(124, 104, 52, 0.746);
        letter-spacing: 1.5px;
        box-shadow: .0em .3em .3em rgb(0, 0, 0);
        text-shadow: 0px 0px 5px black;
    }
    & a:hover {
        transition-duration: .4s;
        text-shadow: 3px 0px 30px rgb(255, 255, 255);
        background-color: rgb(124, 104, 52);
        box-shadow: 0 0 5px white;
    }
    & a:first-child {
        margin: 0;
    } 
}
main {
    max-width: 479px;
    padding: 0 15px;
    // background: url(../images/africa-map-background.jpeg);
    // background-size: 100%;
    .text-center {
        display: block;
        text-align: center;
        padding: 5px 0;
    }
}
.anim-show-title {
    opacity:0; /*Элемент полностью прозрачный (невидимый)*/
    transition: 1s; /*Скорость перехода состояния элемента*/
    animation: show-title 3s 1; /* Указываем название анимации, её время и количество повторов*/
    animation-fill-mode: forwards; /* Чтобы элемент оставался в конечном состоянии анимации */
    animation-delay: 0.3s; /* Задержка перед началом */
}
@keyframes show-title {
    0%{
        opacity:0;
    }
    100% {
        opacity:1;
    }
}
.anim-show-links {
    opacity:0; /*Элемент полностью прозрачный (невидимый)*/
    transition: 1s; /*Скорость перехода состояния элемента*/
    animation: show-links 3s 1; /* Указываем название анимации, её время и количество повторов*/
    animation-fill-mode: forwards; /* Чтобы элемент оставался в конечном состоянии анимации */
    animation-delay: .5s; /* Задержка перед началом */
}
@keyframes show-links {
    0%{
        opacity:0;
    }
    100% {
        opacity:1;
    }
}
main {
    max-width: 479px;
    padding: 0 15px;
    margin: 0 auto;
    .text-center {
        display: block;
        text-align: center;
        padding: 5px 0;
    }
}
h1 {
    text-align: center;
    padding: 15px 0 15px 0;
    font-size: 24px;
    letter-spacing: 1px;
    line-height: 30px;
    font-weight: bold;
    color: $color-title;
}
h2 {
    color: $color-title;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 1px;
    line-height: 22px;
}
.text {
    text-align: left;
    padding: 10px 0;
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 25px;
}
p {
    &.text-center {
        padding: 10px 0;
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 25px;
    }
}
.title {
    color: rgb(118, 71, 2);
    font-weight: bold;
    text-align: left;
    line-height: 21px;
}
.card { 
    position: relative;
    margin: 15px 0;
    &__img-two {
        position: absolute;
        width: 13%;
        height: auto;
        left: 83%;
        top: 4%;
    }
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: auto;
    box-shadow: 0px 0px 10px 1px black;
    border-radius: 2px;
    &.card__img-two {
        box-shadow: none;
    }
}
.icon-list {
    max-width: 15px;
    box-shadow: none;
    padding: 5px 0;
}
.img-icon {
    width: 15%;
    height: auto;
    padding: 20px 0;
    box-shadow: none;
}
@import "footer.scss";

/* Styles for text box with more button */
.limited {
    max-height: 400px;
    overflow: hidden;
    position: relative;
}
.limited.l-200 {
    max-height: 200px;
}
/* Add your sizes for text box */

.limited .bottom {
    position: absolute;
    bottom: 0;
    background: linear-gradient(to bottom, rgba(255,221,134,0), rgba(255,221,134,1) 80%);
    width: 100%;
    height: 60px;
    opacity: 1;
    transition: .9s;
}
.read-more-checker {
    opacity: 0;
    position: absolute;
}
.read-more-checker:checked ~ .limited {
    max-height: none;
}
.read-more-checker:checked ~ .limited .bottom {
    opacity: 0;
    transition: .9s;
}
.read-more-checker ~ .read-more-button:before {
    content: 'посмотреть описание »';
}
.read-more-checker:checked ~ .read-more-button:before {
    content: 'скрыть «';
}
.read-more-button {
    cursor: pointer;
    display: inline-block;
    padding: 10px;
    font-size: 10px;
    letter-spacing: 1px;
    color: rgb(255, 255, 255);
    background-color: #cbaa5c;
    border-radius: 20px;
}
 // * ------- Adaptive for laptop ------- *
@media (min-width: 768px) {
    .wrapper {
        max-width: 1024px;
    }
    header {
        max-width: 1024px;
    }
    .header {
        max-width: 1024px;
        &__image {
            background: url(../images/header/open-africa.png) 0 0/5%, url(../images/header/header-relax-laptop.jpeg);
            background-position: 95% 3%, center;
            background-repeat: no-repeat, no-repeat;
            height: 575px;
        }
        &__text {
            font-size: 60px;
            letter-spacing: 1px;
            line-height: 90px;
        }
    }
    .nav-bar {
        top: 58%;
        & a {
            margin-left: 50px;
        }
    }
    main {
        max-width: 1024px;
        .text-center {
            font-size: 16px;
            padding: 12px 0;
        }
    }
    h1 {
        margin: 45px 0;
        font-size: 36px;
        line-height: 45px;
    }
    h2 {
        font-size: 24px;
        margin-bottom: 10px;
        line-height: 40px;
    }
    .text {
        line-height: 30px;
        text-align: center;
    }
    .section-main {
        display: flex;
    }.title {
        text-align: center;
        font-size: 18px;
        line-height: 30px;
    }
    .card {
        padding: 10px;
        &__img-two {
            width: 7%;
            left: 89%;
            top: 6%;
        }
        &__img-icon {
            width: 7%;
            left: 90%;
            top: 4%;
        }
    }
    .img-icon {
        width: 7%;
        padding: 40px 0;
    }
    .mesenger {
        margin-bottom: 200px;
    }
    footer {
        max-width: 1024px;
    }
    .img-inst {
        width: 7%;
    }
    .img-messenger {
        width: 30%;
      }
}



